.switchOsSection {
    margin-left: 50px;
    margin-right: 50px;
}
.switchOsSection label {
    font-size: 12px;
    padding-right: 10px;
}
.SwitchButton {
    border-radius: 50px;    
    text-align: center;
    padding: 10px;
   
}
.switch {
    background: #357edd;
    border:  1px solid #357edd;
    color: #fff;
}