.creatorArea{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
padding: 40px;
height: 100px;
background: #fafafa;
border-radius: 5px;
cursor: pointer;
border: 3px dotted #e0e0e0;
}
.shortcutButton {
margin-left: 10px;
box-shadow: 0.2rem 0.3rem 1.7rem 0 rgba(0,0,0,.13);
    height: 40px;
    
    line-height: 40px; 
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    /* color :rgba(167, 166, 166, 1); */
    font-family: 'Ubuntu',sans-serif;
    font-size: 50px;
    padding: 10px;
    
}
.shortcutCreator {
display: flex;
flex-direction: column;


}
.creatorButton , .resetButton{
    
    width: 200px;    
    margin-top: 20px;
    color: #fff;
    background: #357edd;
    border-radius: 5px;
    float: right;
    
}
.resetButton {
background: #eee;
color: #1d3c66;
margin-right: 10px;
}
.shortcutInfo {
    display: flex; 
    flex-direction: column;
}
.shortcutInfo label {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shortcutInfo textarea {
    border: 1px solid #dee0e0;
    border-radius: 3px;
    padding: 5px;
}
.shortcutInfo textarea:focus {
outline: none;
border: 1px solid #357edd;

}
.areaSelected {
    border: 3px solid #9dc7ff;
}