@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.ShortcutItem {
    padding: 10px;
    display: flex;
    width: 200px;
    flex:1 1 1;
    margin:10px;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
}
.ShortcutItem:hover {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
}
.ShortcutItem__Separator {
width: 40px; 
height: 40px;
line-height: 40px; 
text-align: center;
vertical-align: middle;

}

.ShortcutItem__Button {
    /* box-shadow: inset 0 0 35px 5px rgba(167, 166, 166, 0.25), inset 0 2px 1px 1px
     rgba(255, 255, 255, 0.9), inset 0 -2px 1px 0 rgba(167, 166, 166, 0.25); */
     box-shadow: 0.2rem 0.3rem 1.7rem 0 rgba(0,0,0,.13);
    height: 40px;
    width: 40px;
    line-height: 40px; 
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    /* color :rgba(167, 166, 166, 1); */
    font-family: 'Ubuntu',sans-serif;
    
}


.buttons {

display: flex;
flex: 1 1 1;
justify-content: center;
flex-wrap: nowrap;
}