.modal__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    animation: show .5s ease;
  }
  .modal {
    width: 100%;
    background-color: #fff;
    box-shadow: 0.2rem 0.3rem 1.7rem 0 rgba(0,0,0,.13);
    padding : 40px;
  }
  .modal__closeButton{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: 0;
    color : #fff;
    cursor: pointer;
    outline: 0;
    
  }