/* @import url('https://fonts.googleapis.com/css?family=Palanquin+Dark'); */
@font-face {
  font-family: MontserratLight;
  src:url("./styles/fonts/Montserrat-Light.otf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Montserrat, sans-serif;
  src:url("./styles/fonts/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: 100;
} 
@font-face {
  font-family: Montserrat, sans-serif;
  src:url("./styles/fonts/Montserrat-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
font-family: Raleway;
src:url("./styles/fonts/Raleway-Regular.otf");
font-style: normal;
font-weight: 100;
}
@font-face {
font-family: Raleway;
src:url("./styles/fonts/Raleway-Bold.otf");
font-style: normal;
font-weight: 700;
}

body{
  background: #f1f4f5;
  color: #274057;
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: #fff;

}

.Button {
  display: flex;
 border:1px solid #dadada ;
 border-radius: 50px;
 font-weight: 100;
    font-size: 14px;
    padding-right: 24px;
    padding-left: 24px;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    
}
.Button:hover {
  border:1px solid #fff ;
  background-color: #274057;
  color: #fff;
}
input,select,button {
  background-color:#f1f4f5;
  border : 1px solid #fff;
  padding: 5px 20px;
  outline:none;
  font-weight: 100;
  font-size: 14px;
}
button {
  cursor: pointer;
}
input:focus,select:focus{
  border: 1px solid #dee0e0;
}
.small-margin-left {
margin-left: 4px;
}